.secondCard {
    width: 20%;
    height: 30vh;
    background-color: ghostwhite;
    margin: 10px auto;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 80px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.btn {
    width: 150px;
    height: 35px;
    background: #f5f5f5;
    border-radius: 5px;
    border: .1px solid;
}