.id {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #f5f5f5;
    word-spacing: 5px;
    background: linear-gradient(90deg, rgba(43,64,66,1) 1%, rgba(19,18,37,1) 29%, rgba(43,80,52,1) 66%, rgba(31,115,133,1) 100%);
    border-radius: 3px;
}